{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- $imagefit := .Page.Param "image-fit" | default .Page.Site.Params.defaultImageFit -}}
{{- $imageMax := .Page.Param "max-fit" | default .Page.Site.Params.defaultImageMaxFit -}}
{{- $galleryId := md5 .Page.Permalink}}
<figure>
    {{- with $img -}}
    {{ $fit := .Fit $imagefit }}
    {{ $max := .Fit $imageMax }}
    <a href="{{$max.RelPermalink}}" data-lightbox="gallery-{{$galleryId}}">
        <img src="{{ $fit.RelPermalink }}" alt="{{ $.Text }}" title="{{ with $.Title }}{{ . }}{{ end }}" />
    </a>
    {{- else -}}
    <img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" title="{{ with $.Title }}{{ . }}{{ end }}" />
    {{- end -}}
    {{ with $.Title }}
    <figcaption>{{ . }}</figcaption>
    {{ end }}
</figure>